html {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #d05c2e;

}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  display: block;
}

img {
  padding: .5em 0;
}

nav {
  display: flex;
  padding: .4rem, 0;
}

nav ul li {
  background-color: #d05c2e;
  border-color: #a63f38;
  font-size: 1.125rem;
  color: #fff;
  border: 1px;

  list-style-type: none;
  text-decoration: none;

  justify-content: space-between;
  display: inline-block;
  align-items: stretch;
  text-align: center;
}

a:hover {
  background-color: #a63f38;
  border-color: #a63f38;
  color: #fff;

  list-style-type: none;
  text-decoration: none;

  justify-content: space-between;
  display: inline-block;
  text-align: center;
}
